.home-container{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.name{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 60px;
}
.middle-name{
    color: #9dcae5;
}
.field-container{
    color: #9dcae5;
    display: flex;
    font-family: "Raleway";
    font-size:25px;
    font-weight:500;
}
.pre-field{
    color: white;
    margin-right: 8px;
}
/* class for typeWriter from typeWriter library */
.Typewriter__Wrapper{
    display: inline-block;
}