.home-container{
    width:100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: transparent;
}
.name{
    font-family: 'Poppins';
    font-weight: 700;
    font-size: 60px;
}
.field-container{
    display: flex;
    font-family: "Raleway";
    font-size:25px;
    font-weight:500;
}
.pre-field{
    color: white;
    margin-right: 8px;
}
.social-menu{
    position: absolute;
    top: 0px;
    right: 0px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
}
.social-menu-item{
    width: 30px;
    height: 30px;
    margin: 10px;
}
.social-menu-item{
    position: relative;
}
.social-menu-item img{
    width: 30px;
    height: 30px;
}
.social-menu-item::before{
    content: attr(social-menu-name);
    position: absolute;
    top: 5px;
    right: 10px;
    opacity: 0;
    font-size: 14px;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-in-out;
}
.social-menu-item:hover::before{
    right: 70px;
    opacity: 1;
}
/* class for typeWriter from typeWriter library */
.Typewriter__Wrapper{
    display: inline-block;
}
@media only screen and (max-width:768px) {
    .name{
        font-size: 50px;
    }
    .field-container{
        font-size: 22px;
    }
}
@media only screen and (max-width:600px) {
    .name{
        font-size: 40px;
    }
    .field-container{
        font-size: 18px;
    }
    .social-menu{
        display: none;
    }
}
@media only screen and (max-width:440px) {
    .name{
        font-size: 30px;
    }
    .field-container{
        font-size: 15px;
    }
}
@media only screen and (max-width:300px) {
    .name{
        font-size: 24px;
    }
    .field-container{
        font-size: 13px;
    }
}