.skill-card{
    width: 70px;
    height: 70px;
    margin: 30px 15px;
    background-color: rgb(71, 71, 71);
    border-radius: 50%;
    padding: 15px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    position: relative;
}
.skill-card::before{
    content: attr(skillName);
    position: absolute;
    top:-10px;
    opacity: 0;
    text-align: center;
    width: 100px;
    transition: all 0.3s ease-in-out;
}
.skill-card:hover::before{
    opacity: 1;
    top:-30px
}
.skill-img{
    width: 40px;
    height: 40px;
}