nav{
    display:inline;
    position: fixed;
    z-index:5;
}
.menu-items{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

