.skills-container{
    margin: 60px 80px;
}
.skills-heading{
    text-align: center;
    font-size: 40px;
    font-weight: 700;
    margin-bottom: 70px;
}
.skills-cards{
    width:100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
@media only screen and (max-width:720px) {
    .skills-container{
        margin: 40px 30px;
    }
    .skills-heading{
        font-size: 25px;
    }
}