.about-container{
    text-align: center;
    margin-top: 100px ;
    height: 100%;
    font-family: "raleway";
}
.about-heading{
    font-size: 20px;
}
.about-me{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 50px;
}
.about{
    width: 600px;
    text-align: justify;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.about-bio{
    font-size: 30px;
    font-weight: 700;
    font-family: "Nunito";
}
.about-details{
    font-size: 20px;
    margin-top: 20px;
    line-height: 20px;
    font-family: "Poppins";
}
.about-pic{
    width: 350px;
    height: 350px;
    border: 2px solid white;
    border-radius: 20px;
}
.download-resume-btn{
    margin: auto;
    margin-top: 40px;
}