.about-container{
    text-align: center;
    margin-top: 30px ;
    height: 100%;
    font-family: "raleway";
}
.about-heading{
    font-size: 2.2rem;
    margin: 50px 0px;
}
.about-subheading{
    font-size: 1.1rem;
}
.about-me{
    display:flex;
    flex-direction: row-reverse;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    margin-top: 100px;
}
.about{
    width: 600px;
    text-align: justify;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin:30px;
}
.about-bio{
    font-size: 2.2rem;
    font-weight: 700;
    font-family: "Nunito";
}
.about-details{
    font-size:1.2rem;
    margin-top: 20px;
    line-height: 30px;
    font-family: "Poppins";
}
.about-pic{
    width: 400px;
    height: 380px;
    margin: 30px;
    border: 2px solid white;
    border-radius: 20px;
}
.download-resume-btn{
    margin: auto;
    margin-top: 40px;
}
@media only screen and (max-width:680px) {
    .about{
        width: 400px;
    }
    .about-me{
        margin-top: 50px;
    }
    .about-bio{
        font-size: 1.64rem;
    }
    .about-details{
        font-size: 1.2rem;
    }
    .about-pic{
        width: 300px;
        height: 280px;
    }
}
@media only screen and (max-width:480px) {
    .about{
        width: 300px;
    }
    .about-me{
        margin-top: 30px;
    }
    .about-bio{
        font-size: 1.4rem;
    }
    .about-details{
        font-size: 1.1rem;
    }
    .about-pic{
        width: 250px;
        height: 230px;
    }
}
@media only screen and (max-width:340px) {
    .about-heading{
        margin: 30px 0px;
        margin-top: 70px;
    }
    .about{
        width: 200px;
    }
    .about-me{
        margin-top: 15px;
    }
    .about-bio{
        font-size: 1.25rem;
    }
    .about-details{
        font-size: 1rem;
    }
    .about-pic{
        width: 180px;
        height: 160px;
    }
}