.App{
    display:grid;
    grid-template-areas: 
    "header header"
    "nav main"
    "footer footer"
    ;
}
header{
    color:white;
    grid-area: header;
}
footer{
    color: aliceblue;
    grid-area: footer;
}
nav{
    grid-area: nav;
}
main{
    grid-area: main;
}