.App{
    display:grid;
    grid-template-columns: 2;
    grid-template-rows: 2;
    /* width:100vw; */
}
.header{
    color:white;
    grid-column: 1/2;
    grid-row: 1;
}
.footer{
    color: aliceblue;
    grid-column: 1/2;
    grid-row: 3;
}
.container{
    grid-column: 1/2;
    grid-row: 2;
    display: flex;
    width:100vw;
}
