body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: black;
  z-index:-10
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "Monofett";
  src: local("Monofett"), 
   url("./fonts/Monfet_Regular/Monofett-Regular.ttf") format("truetype");
  }
@font-face {
  font-family: "prisma";
  src: local("prisma"), 
   url("./fonts/prisma/Prisma.ttf") format("truetype");
  }